@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf");
  /* IE9 Compat Modes */
}
:root {
  --color-orange:#f8931f;
  --color-light-blue:#f3faff;
  --color-blue:#1aa4fc;
  --color-dark-blue:#031e4b;
  --color-dark-gray:#505960;
  --color-gray:#666666;
  --color-light-gray:#e6e6e6;
  --color-light-gray-2:#efefef;
  --color-black:#000;
  --color-white:#fff;
  --size-line:3px;
}

html {
  overflow: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font: 400 16px/1 Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark-blue);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2.8px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.9rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.7rem;
  }
}

h4 {
  letter-spacing: -0.3px;
  font-size: 1.4rem;
}

h6 {
  font-size: 1.1rem;
  line-height: 0.7;
  font-weight: 700;
}

p {
  font-size: 1.35rem;
  line-height: 1.1;
}
@media (max-width: 767px) {
  p {
    font-size: 1rem;
  }
}

.btn {
  box-shadow: inset 0 0 0 var(--size-line) var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 25px;
  color: var(--color-white);
  transition: 0.5s;
}
.btn:hover, .btn:focus, .btn:active {
  outline: none;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-orange);
  box-shadow: inset 0 0 0 var(--size-line) var(--color-orange);
}

:focus {
  outline: none;
}

header {
  min-height: 66px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-dark-blue);
  z-index: 1000;
}
header.scroll {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
header.scroll + .height_header {
  min-height: 66px;
  width: 100%;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  header .container {
    max-width: 740px;
  }
}
header .logo {
  max-width: 200px;
}
header .menu a {
  color: var(--color-white);
  font-size: 0.9rem;
  margin: 0 5px;
}
header .menu a:hover, header .menu a[active] {
  color: var(--color-orange);
}
header [name=menu] {
  display: none;
}
header [for=menu] {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
header [for=menu]:before, header [for=menu]:after {
  content: "";
  transition: 0.5s;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 10px var(--color-white), 0 -10px var(--color-white);
}
@media (min-width: 992px) {
  header [for=menu] {
    display: none;
  }
}
@media (max-width: 991px) {
  header .menu {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(100%);
    transition: 1s;
    max-width: 100%;
    background-color: var(--color-dark-blue);
    padding: 10px 15px;
  }
  header .menu a {
    display: block;
    margin-bottom: 15px;
  }
  header [name=menu]:checked + .container .menu {
    transform: none;
  }
  header [name=menu]:checked + .container [for=menu]:before {
    transform: rotate(-45deg);
    box-shadow: none;
  }
  header [name=menu]:checked + .container [for=menu]:after {
    transform: rotate(45deg);
    box-shadow: none;
  }
}

footer {
  padding-top: 37px;
  padding-bottom: 35px;
  background-color: var(--color-dark-blue);
}
@media (max-width: 991px) {
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  footer .container {
    max-width: 976px;
  }
}
@media (max-width: 991px) {
  footer .logo {
    margin-bottom: 20px;
  }
}
footer p {
  color: var(--color-white);
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
footer .row p {
  position: relative;
  padding-left: 36px;
}
footer .row p i {
  position: absolute;
  top: 0;
  left: 0;
}
footer hr {
  border-top: 1px solid var(--color-white);
  margin: 20px 0;
}
footer .rs {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
}
footer .rs a {
  --size:30px;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-orange);
  color: var(--color-dark-blue);
  border-radius: 100%;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
footer .pages {
  text-align: center;
  padding: 0px 35px;
  line-height: 1.4;
}
@media (max-width: 991px) {
  footer .pages {
    padding: 0;
  }
}
footer .pages a {
  color: var(--color-white);
  font-size: 0.9rem;
  position: relative;
  display: inline-block;
}
footer .pages a:hover, footer .pages a[active] {
  text-decoration: none;
  color: var(--color-orange);
}
footer .pages a:not(:first-child) {
  margin-left: 11px;
}
footer .pages a:not(:first-child):before {
  content: "";
  width: 1px;
  background-color: var(--color-white);
  height: 100%;
  position: absolute;
  top: 0;
  left: -7px;
  transform: scaleX(1.1);
}

.down_banner {
  padding: 35px 0;
  text-align: center;
  background-color: var(--color-dark-blue);
}
.down_banner p {
  color: var(--color-white);
}

.head {
  width: 100%;
  min-height: 53px;
  background: var(--color-white);
  border-bottom: var(--size-line) solid var(--color-dark-blue);
  display: flex;
  align-items: center;
  padding: 5px 0;
}
@media (max-width: 767px) {
  .head {
    padding: 15px 0;
  }
}
.head .content {
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}
@media (min-width: 992px) {
  .head .content {
    padding-left: 40px;
  }
}
.head .content span {
  margin-right: 13px;
}
.head .content .btn {
  letter-spacing: 1.2px;
}
@media (max-width: 767px) {
  .head .content {
    text-align: center;
  }
  .head .content span {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.banner {
  min-height: 610px;
  padding: 25px 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/h5.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  .banner {
    min-height: 0;
  }
}
.banner h1 {
  color: var(--color-white);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .banner h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 991px) {
  .banner h1.l {
    text-align: left;
    padding-left: 45px;
  }
}
.banner p {
  color: var(--color-white);
  font-size: 1.1rem;
  margin-bottom: 25px;
}
.banner p.l {
  text-align: left;
}

.img_p {
  width: 100%;
  --height: 530px;
  background-color: white;
}
.img_p img {
  width: 100%;
  height: var(--height);
  object-fit: cover;
  object-position: center;
}
@media (max-width: 991px) {
  .img_p {
    --height:auto;
  }
}

@media (min-width: 1200px) {
  .plans .container {
    max-width: 1200px;
  }
}
.plans .text {
  text-align: center;
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 55px;
}
.plans .text h1 {
  margin-bottom: 22px;
}
@media (max-width: 991px) {
  .plans .text {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .plans .text h1 {
    margin-bottom: 15px;
  }
}
.plans .card_account {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 3px 3px 10px var(--color-dark-gray);
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 110px;
}
@media (max-width: 991px) {
  .plans .card_account {
    margin-bottom: 30px;
  }
}
.plans .card_account hr {
  margin-top: 0;
  border-top: 1px solid var(--color-gray);
}
.plans .card_account h4 {
  color: var(--color-black);
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 14px;
  margin-bottom: 16px;
}
.plans .card_account h4 span {
  display: block;
  margin-top: 7px;
  color: var(--color-gray);
}
.plans .card_account h6 {
  color: var(--color-orange);
}
.plans .card_account h6 span {
  display: block;
  color: var(--color-gray);
  font-weight: 400;
  font-size: 0.85em;
  margin-top: 14px;
}
.plans .card_account ul {
  padding: 5px 0;
  display: inline-block;
}
.plans .card_account ul li {
  list-style: none;
  position: relative;
  text-align: left;
  font-size: 0.8rem;
  padding-left: 20px;
  color: var(--color-gray);
}
.plans .card_account ul li:not(:last-child) {
  margin-bottom: 20px;
}
.plans .card_account ul li:before {
  content: "";
  --size-line: 8px;
  background-color: var(--color-orange);
  width: var(--size-line);
  height: var(--size-line);
  display: inline-block;
  border-radius: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.plans .card_account ul li[disabled] {
  --color-orange: var(--color-gray);
  opacity: 0.4;
}
.plans .card_account .budgeting > span {
  color: var(--color-orange);
  font-weight: 700;
  display: block;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 20px;
}
.plans .card_account .budgeting .nummer {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-gray);
  margin-bottom: 25px;
}
.plans .card_account .budgeting .nummer span {
  font-size: 0.5em;
}
.plans .card_account .budgeting .btn {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  border-radius: 15px;
  position: relative;
  letter-spacing: 1.5px;
}
.plans .card_account .budgeting .btn:after {
  content: "";
  --size:35px;
  width: var(--size);
  height: var(--size);
  display: block;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
}
.plans .card_account .budgeting .btn:hover:after, .plans .card_account .budgeting .btn:focus:after, .plans .card_account .budgeting .btn:active:after {
  background-color: var(--color-orange);
}

.table_number .card_content {
  text-align: left;
  padding: 55px 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
}
@media (max-width: 991px) {
  .table_number .card_content {
    padding: 20px 25px;
    margin-bottom: 30px;
  }
}
.table_number .card_content ul li {
  font-size: 1.3rem;
  line-height: 1.25;
}
.table_number .card_content ul li:before {
  --size:16px;
  left: -7px;
}
.table_number .card_content .list_number .item {
  color: var(--color-gray);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.table_number .card_content .list_number .item span {
  font-size: 1.6rem;
  margin-right: auto;
}
.table_number .card_content .list_number .item input {
  width: 120px;
  height: 35px;
  border: 0;
  background-color: var(--color-light-gray);
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 24px;
}
@media (max-width: 575px) {
  .table_number .card_content .list_number .item {
    flex-wrap: wrap;
  }
  .table_number .card_content .list_number .item span, .table_number .card_content .list_number .item input {
    width: 100%;
    margin-left: 0;
    font-size: 1.3rem;
  }
}

.total {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .total .container {
    max-width: 1060px;
  }
}
.total hr {
  border-top: 2px solid var(--color-dark-gray);
  margin-top: 0;
  margin-bottom: 41px;
}
.total h2 {
  margin-bottom: 26px;
}
.total .table {
  max-width: 570px;
  margin: auto;
  margin-bottom: 33px;
}
.total .table .frow {
  display: flex;
  justify-content: space-between;
  font-size: 1.55rem;
  color: var(--color-gray);
  margin-bottom: 7px;
}
@media (max-width: 575px) {
  .total .table .frow {
    font-size: 1rem;
  }
}
.total .f_total {
  max-width: 610px;
  margin: auto;
  margin-bottom: 70px;
  margin-top: -10px;
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  color: var(--color-dark-blue);
}
@media (max-width: 575px) {
  .total .f_total {
    font-size: 1.5rem;
  }
}
.total .btn {
  width: 450px;
  max-width: 100%;
  border-radius: 15px;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.additional_services {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  text-align: center;
  padding-top: 36px;
  padding-bottom: 46px;
}
.additional_services h2 {
  color: var(--color-white);
  font-size: 3.4rem;
}
@media (max-width: 991px) {
  .additional_services h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .additional_services .container {
    max-width: 1000px;
  }
}
.additional_services .items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.additional_services .items .item {
  position: relative;
}
.additional_services .items .item img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}
.additional_services .items .item span {
  display: block;
  font-size: 2rem;
  color: var(--color-light-gray);
  margin-top: 8px;
}
.additional_services .items .item:not(:last-child):before {
  content: "";
  width: 190px;
  height: 15px;
  background-color: var(--color-white);
  position: absolute;
  top: 70px;
  left: calc(50% + 90px);
  margin: auto;
}
.additional_services .items .item:not(:last-child):after {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  box-shadow: inset -15px -15px var(--color-white);
  transform: rotateZ(-45deg);
  position: absolute;
  left: calc(50% + 60px + 190px);
  top: 57px;
}
@media (max-width: 991px) {
  .additional_services .items .item:not(:last-child):before {
    content: "";
    width: 80px;
    height: 15px;
    background-color: var(--color-white);
    position: absolute;
    top: 70px;
    left: calc(50% + 90px);
    margin: auto;
  }
  .additional_services .items .item:not(:last-child):after {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    box-shadow: inset -15px -15px var(--color-white);
    transform: rotateZ(-45deg);
    position: absolute;
    left: calc(50% + 40px + 100px);
    top: 57px;
  }
}
@media (max-width: 767px) {
  .additional_services .items {
    flex-wrap: wrap;
  }
  .additional_services .items .item {
    width: 100%;
    margin-bottom: 25px;
  }
  .additional_services .items .item:not(:last-child):before, .additional_services .items .item:not(:last-child):after {
    display: none;
  }
}
.additional_services .btn {
  line-height: 1.3;
  width: 280px;
}

.question {
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: var(--color-light-gray-2);
}
@media (max-width: 991px) {
  .question {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .question .container {
    max-width: 840px;
  }
}
.question h3 {
  color: var(--color-orange);
  font-weight: 900;
  font-size: 43px;
  text-align: center;
  margin-bottom: 30px;
}
.question h6 {
  color: var(--color-orange);
  font-size: 1rem;
  margin-bottom: 23px;
}
.question p {
  color: var(--color-gray);
  font-size: 13.2px;
  margin-bottom: 30px;
}

.calendar {
  padding-top: 37px;
  padding-bottom: 115px;
}
@media (max-width: 991px) {
  .calendar {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.calendar h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 68px;
}
@media (max-width: 991px) {
  .calendar h2 {
    margin-bottom: 25px;
  }
}
.calendar .card_calendar {
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 212px;
  background-color: var(--color-white);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  position: relative;
}
@media (max-width: 992px) {
  .calendar .card_calendar {
    padding-bottom: 25px;
  }
}
.calendar .card_calendar:before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--color-light-gray);
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 767px) {
  .calendar .card_calendar:before {
    display: none;
  }
}
.calendar .card_calendar .col_content {
  padding-top: 25px;
  padding-left: 9px;
}
.calendar .card_calendar .col_content .arrow {
  --size: 44px;
  display: block;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--color-light-gray);
  border-radius: 100%;
  position: relative;
  max-width: 65px;
  margin-bottom: 35px;
}
.calendar .card_calendar .col_content .arrow i {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color-blue);
}
.calendar .card_calendar .col_content .arrow i:before, .calendar .card_calendar .col_content .arrow i:after {
  content: "";
  width: 10px;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  bottom: 0;
  margin: auto;
  background-color: var(--color-blue);
  transform-origin: left center;
  transform: rotateZ(45deg);
}
.calendar .card_calendar .col_content .arrow i:after {
  transform: rotateZ(-45deg);
}
.calendar .card_calendar .col_content .icon {
  max-width: 65px;
  max-height: 36px;
  margin-bottom: 35px;
}
.calendar .card_calendar .col_content h4 {
  color: var(--color-gray);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.calendar .card_calendar .col_content h4 span {
  font-weight: 400;
  display: block;
  opacity: 0.8;
  font-size: 1.04rem;
}
.calendar .card_calendar .col_content .date {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--color-gray);
  margin-bottom: 23px;
}
.calendar .card_calendar .col_content .date i {
  display: inline-block;
  --size: 20px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--color-gray);
  position: relative;
  margin-right: 10px;
}
.calendar .card_calendar .col_content .date i:before, .calendar .card_calendar .col_content .date i:after {
  content: "";
  width: 8px;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  transform-origin: left center;
  transform: rotateZ(-90deg);
}
.calendar .card_calendar .col_content .date i:after {
  transform: rotateZ(45deg);
  width: 6px;
}
.calendar .card_calendar .col_content p {
  color: var(--color-gray);
  font-size: 1rem;
  line-height: 1.5;
}
.calendar .card_calendar .col_calendar {
  padding-top: 32px;
  padding-left: 9px;
}
.calendar .card_calendar .col_calendar h6 {
  font-size: 1.25rem;
  color: var(--color-gray);
  margin-bottom: 36px;
}
.calendar .card_calendar .col_calendar .month {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  margin-bottom: 15px;
}
.calendar .card_calendar .col_calendar .month span {
  margin-right: auto;
}
.calendar .card_calendar .col_calendar .month .arrow {
  --color: var(--color-gray);
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 25px;
  position: relative;
}
.calendar .card_calendar .col_calendar .month .arrow:hover {
  --color:var(--color-blue);
}
.calendar .card_calendar .col_calendar .month .arrow:before, .calendar .card_calendar .col_calendar .month .arrow:after {
  content: "";
  width: 8px;
  height: 2px;
  background-color: var(--color);
  transform-origin: left center;
  transform: rotateZ(45deg);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.calendar .card_calendar .col_calendar .month .arrow:after {
  transform: rotateZ(-45deg);
}
.calendar .card_calendar .col_calendar .month .arrow.next {
  transform: rotateZ(180deg);
}
.calendar .card_calendar .col_calendar table {
  width: 100%;
}
.calendar .card_calendar .col_calendar table th {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-gray);
  text-transform: uppercase;
  padding: 18px 0;
  text-align: center;
}
.calendar .card_calendar .col_calendar table td {
  color: var(--color-gray);
  padding: 17px 0;
  text-align: center;
  border-radius: 100%;
}
.calendar .card_calendar .col_calendar table td[active] {
  color: var(--color-blue);
  font-weight: 700;
  position: relative;
}
.calendar .card_calendar .col_calendar table td[active]:before {
  content: "";
  position: absolute;
  display: block;
  --size:40px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  max-width: 40px;
  background-color: var(--color-blue);
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 450px) {
  .calendar .card_calendar .col_calendar table td[active]:before {
    --size:30px;
  }
}
.calendar .card_calendar .col_calendar .select {
  color: var(--color-gray);
  padding-left: 33px;
  position: relative;
}
.calendar .card_calendar .col_calendar .select select {
  border: 0;
  font-size: 0.76rem;
  color: var(--color-gray);
  background: transparent;
}
.calendar .card_calendar .col_calendar .select:before {
  content: "";
  border: 5px solid transparent;
  border-top-color: var(--color-gray);
  position: absolute;
  top: 6px;
  right: 4px;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

/*# sourceMappingURL=accounting_services.css.map */
