@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf");
  /* IE9 Compat Modes */
}
:root {
  --color-orange:#f8931f;
  --color-light-blue:#f3faff;
  --color-blue:#1aa4fc;
  --color-dark-blue:#031e4b;
  --color-dark-gray:#505960;
  --color-gray:#666666;
  --color-light-gray:#e6e6e6;
  --color-light-gray-2:#efefef;
  --color-black:#000;
  --color-white:#fff;
  --size-line:3px;
}

html {
  overflow: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font: 400 16px/1 Helvetica;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark-blue);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2.8px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.9rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.7rem;
  }
}

h4 {
  letter-spacing: -0.3px;
  font-size: 1.4rem;
}

h6 {
  font-size: 1.1rem;
  line-height: 0.7;
  font-weight: 700;
}

p {
  font-size: 1.35rem;
  line-height: 1.1;
}
@media (max-width: 767px) {
  p {
    font-size: 1rem;
  }
}

.btn {
  box-shadow: inset 0 0 0 var(--size-line) var(--color-orange);
  background-color: var(--color-orange);
  border-radius: 25px;
  color: var(--color-white);
  transition: 0.5s;
}
.btn:hover, .btn:focus, .btn:active {
  outline: none;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-orange);
  box-shadow: inset 0 0 0 var(--size-line) var(--color-orange);
}

:focus {
  outline: none;
}

header {
  min-height: 66px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-dark-blue);
  z-index: 1000;
}
header.scroll {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
header.scroll + .height_header {
  min-height: 66px;
  width: 100%;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  header .container {
    max-width: 740px;
  }
}
header .logo {
  max-width: 200px;
}
header .menu a {
  color: var(--color-white);
  font-size: 0.9rem;
  margin: 0 5px;
}
header .menu a:hover, header .menu a[active] {
  color: var(--color-orange);
}
header [name=menu] {
  display: none;
}
header [for=menu] {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
header [for=menu]:before, header [for=menu]:after {
  content: "";
  transition: 0.5s;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 10px var(--color-white), 0 -10px var(--color-white);
}
@media (min-width: 992px) {
  header [for=menu] {
    display: none;
  }
}
@media (max-width: 991px) {
  header .menu {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(100%);
    transition: 1s;
    max-width: 100%;
    background-color: var(--color-dark-blue);
    padding: 10px 15px;
  }
  header .menu a {
    display: block;
    margin-bottom: 15px;
  }
  header [name=menu]:checked + .container .menu {
    transform: none;
  }
  header [name=menu]:checked + .container [for=menu]:before {
    transform: rotate(-45deg);
    box-shadow: none;
  }
  header [name=menu]:checked + .container [for=menu]:after {
    transform: rotate(45deg);
    box-shadow: none;
  }
}

footer {
  padding-top: 37px;
  padding-bottom: 35px;
  background-color: var(--color-dark-blue);
}
@media (max-width: 991px) {
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  footer .container {
    max-width: 976px;
  }
}
@media (max-width: 991px) {
  footer .logo {
    margin-bottom: 20px;
  }
}
footer p {
  color: var(--color-white);
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
footer .row p {
  position: relative;
  padding-left: 36px;
}
footer .row p i {
  position: absolute;
  top: 0;
  left: 0;
}
footer hr {
  border-top: 1px solid var(--color-white);
  margin: 20px 0;
}
footer .rs {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
}
footer .rs a {
  --size:30px;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-orange);
  color: var(--color-dark-blue);
  border-radius: 100%;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
footer .pages {
  text-align: center;
  padding: 0px 35px;
  line-height: 1.4;
}
@media (max-width: 991px) {
  footer .pages {
    padding: 0;
  }
}
footer .pages a {
  color: var(--color-white);
  font-size: 0.9rem;
  position: relative;
  display: inline-block;
}
footer .pages a:hover, footer .pages a[active] {
  text-decoration: none;
  color: var(--color-orange);
}
footer .pages a:not(:first-child) {
  margin-left: 11px;
}
footer .pages a:not(:first-child):before {
  content: "";
  width: 1px;
  background-color: var(--color-white);
  height: 100%;
  position: absolute;
  top: 0;
  left: -7px;
  transform: scaleX(1.1);
}

.down_banner {
  padding: 35px 0;
  text-align: center;
  background-color: var(--color-dark-blue);
}
.down_banner p {
  color: var(--color-white);
}

/*# sourceMappingURL=gobal.css.map */
