@import "gobal.scss";



.head{
    width: 100%;
    min-height: 53px;
    background: var(--color-white);
    border-bottom: var(--size-line) solid var(--color-dark-blue);
    display: flex;
    align-items: center;
    padding: 5px 0;
    @media(max-width: 767px){
        padding: 15px 0;
    }
    .content{
        @media(min-width: 992px){
            padding-left: 40px;
        }
        font-size: 1.1rem;
        letter-spacing: 0.2px;
        span{
            margin-right: 13px;
        }
        .btn{
            letter-spacing: 1.2px;
        }
        @media(max-width: 767px){
            text-align: center;
            span{
                display: block;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.banner{
    min-height: 610px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(../img/h5.jpg);
    background-size: cover;
    background-position: center;
    @media (max-width:991px) {
        min-height: 0;        
    }
    h1{
        color: var(--color-white);
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width:767px){
            font-size: 1.8rem;
        }
        @media(min-width: 991px){
            &.l{
                text-align: left;
                padding-left: 45px;
            }
        }
    }
    p{
        color: var(--color-white);
        font-size: 1.1rem;
        margin-bottom: 25px;
        &.l{
            text-align: left;
        }

    }
}
.img_p{
    width: 100%;
    --height: 530px;
    background-color: white;
    img{
        width: 100%;
        height: var(--height);
        object-fit: cover;
        object-position: center;
    }
    @media(max-width: 991px){
        --height:auto;
    }
}
.plans{
    .container{
        @media (min-width:1200px){
            max-width: 1200px;
        }
    }
    .text{
        text-align: center;
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 55px;
        h1{    
            margin-bottom: 22px;
        }
        @media (max-width:991px) {
            padding-top: 15px;
            padding-bottom: 25px;
            h1{    
                margin-bottom: 15px;
            }
        }
    }
    .card_account{
        width: 100%;
        text-align: center;
        padding-top: 25px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
        background-color: var(--color-white);
        border-radius: 15px;
        box-shadow: 3px 3px 10px var(--color-dark-gray);
        box-shadow: 8px 8px 20px 0px hsla(0, 0%, 0%, 0.4);
        
        margin-bottom: 110px;
        @media (max-width:991px){
            margin-bottom: 30px;
        }
        hr{
            margin-top: 0;
            border-top: 1px solid var(--color-gray);
        }
        h4{
            color:var(--color-black);
            margin-left: -5px;
            margin-right: -5px;
            margin-top: 14px;
            margin-bottom: 16px;
            span{
                display: block;
                margin-top: 7px;
                color: var(--color-gray);
            }
        }
        h6{
            color:var(--color-orange);
            span{
                display: block;
                color: var(--color-gray);
                font-weight: 400;
                font-size: 0.85em;
                margin-top: 14px;
            }
        }
        ul{
            padding: 5px 0;
            display: inline-block;
            li{
                list-style: none;
                position: relative;
                text-align: left;
                font-size: 0.8rem;
                padding-left: 20px;
                color:var(--color-gray);
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                &:before{
                    content: '';
                    --size-line: 8px;
                    background-color: var(--color-orange);
                    width: var(--size-line);
                    height: var(--size-line);
                    display: inline-block;
                    border-radius: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                }
                &[disabled]{
                    --color-orange: var(--color-gray);
                    opacity: .4;
                }
            }
        }
        .budgeting{
            >span{
                color: var(--color-orange);
                font-weight: 700;
                display: block;
                text-align: left;
                padding: 0 15px;
                margin-bottom: 20px;
            }
            .nummer{
                text-align: right;
                font-size: 2rem;
                font-weight: 700;
                color: var(--color-gray);
                margin-bottom: 25px;
                span{
                    font-size: .5em;
                }
            }
            .btn{
                display: block;
                font-size: 1.6rem;
                font-weight: 900;
                border-radius: 15px;
                position: relative;
                letter-spacing: 1.5px;
                &:after{
                    content: '';
                    --size:35px;
                    width: var(--size);
                    height: var(--size);
                    display: block;
                    background-color: var(--color-white);
                    position: absolute;
                    top: 0;
                    right: 15px;
                    bottom: 0;
                    margin: auto;
                    border-radius: 100%;
                }
                &:hover,&:focus,&:active{
                    &:after{
                        background-color: var(--color-orange);
                    }
                }
            }
        }
    }
}
.table_number{
    .card_content{
        text-align: left;
        padding: 55px 75px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 47px;
        @media (max-width:991px) {
            padding: 20px 25px;
            margin-bottom: 30px;
        }
        ul{
            li{
                font-size: 1.3rem;
                line-height: 1.25;
                &:before{
                    --size:16px;
                    left: -7px;

                }
            }
        }
        .list_number{
            .item{
                color:var(--color-gray);
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                span{
                    font-size: 1.6rem;
                    margin-right: auto;
                }
                input{
                    width: 120px;
                    height: 35px;
                    border: 0;
                    background-color: var(--color-light-gray);
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-left: 24px;
                }
                @media (max-width:575px){
                    flex-wrap: wrap;
                    span,input{
                        width: 100%;
                        margin-left: 0;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
.total{
    text-align: center;
    margin-bottom: 50px;
    .container{
        @media (min-width:1200px){
            max-width: 1060px;
        }
    }
    hr{
        border-top: 2px solid var(--color-dark-gray);
        margin-top: 0;
        margin-bottom: 41px;
    }
    h2{
        margin-bottom: 26px;
    }
    .table{
        max-width: 570px;
        margin: auto;
        margin-bottom: 33px;
        .frow{
            display: flex;
            justify-content: space-between;
            font-size: 1.55rem;
            color: var(--color-gray);
            margin-bottom: 7px;
            @media (max-width:575px){
                font-size: 1rem;
            }
        }
    }
    .f_total{
        max-width: 610px;
        margin: auto;
        margin-bottom: 70px;
        margin-top: -10px;
        font-size: 2.2rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        color: var(--color-dark-blue);
        @media (max-width:575px){
            font-size: 1.5rem;
        }
    }
    .btn{
        width: 450px;
        max-width: 100%;
        border-radius: 15px;
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
}
.additional_services{
    background-color: var(--color-dark-blue);
    color:var(--color-white);
    text-align: center;
    padding-top: 36px;
    padding-bottom: 46px;

    h2{
        color:var(--color-white);
        font-size: 3.4rem;
        @media (max-width:991px){
            font-size: 2.5rem;
        }
    }
    .container{
        @media (min-width:1200px){
            max-width: 1000px;
        }
    }
    .items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        .item{
            position: relative;
            img{
                width: 140px;
                height: 140px;
                object-fit: cover;
                object-position: center;
            }
            span{
                display: block;
                font-size: 2rem;
                color: var(--color-light-gray);
                margin-top: 8px;
            }
            &:not(:last-child){
                &:before{
                    content:'';
                    width: 190px;
                    height: 15px;
                    background-color: var(--color-white);
                    position: absolute;
                    top: 70px;
                    left: calc(50% + 90px);
                    margin: auto;
                }
                &:after{
                    content: '';
                    width: 40px;
                    height: 40px;
                    display: block;
                    box-shadow: inset -15px -15px var(--color-white);
                    transform: rotateZ(-45deg);
                    position: absolute;
                    left: calc(50% + 60px + 190px);
                    top: 57px;
                }
            }
            @media (max-width:991px){
                &:not(:last-child){
                    &:before{
                        content:'';
                        width: 80px;
                        height: 15px;
                        background-color: var(--color-white);
                        position: absolute;
                        top: 70px;
                        left: calc(50% + 90px);
                        margin: auto;
                    }
                    &:after{
                        content: '';
                        width: 40px;
                        height: 40px;
                        display: block;
                        box-shadow: inset -15px -15px var(--color-white);
                        transform: rotateZ(-45deg);
                        position: absolute;
                        left: calc(50% + 40px + 100px);
                        top: 57px;
                    }
                } 
            }
        }
        @media (max-width:767px){
            flex-wrap: wrap;
            .item{
                width: 100%;
                margin-bottom: 25px;
                &:not(:last-child){
                    &:before,&:after{
                        display: none;
                    }
                }
            }
        }
    }
    .btn{
        line-height: 1.3;
        width: 280px;
    }
}
.question{
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: var(--color-light-gray-2);
    @media (max-width:991px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .container{
        @media (min-width:1200px){
            max-width: 840px;
        }
    }
    h3{
        color: var(--color-orange);
        font-weight: 900;
        font-size: 43px;
        text-align: center;
        margin-bottom: 30px;
    }
    h6{
        color: var(--color-orange);
        font-size: 1rem;
        margin-bottom: 23px;
    }
    p{
        color: var(--color-gray);
        font-size: 13.2px;
        margin-bottom: 30px;
    }
}
.calendar{
    padding-top: 37px;
    padding-bottom: 115px;
    @media (max-width:991px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 68px;
        @media (max-width:991px){
            margin-bottom: 25px;
        }
    }
    .card_calendar{
        margin: auto;
        width: 100%;
        max-width: 800px;
        padding-bottom: 212px;
        background-color: var(--color-white);
        box-shadow: 3px 4px 10px 0px hsla(0, 0%, 0%, 0.3);
        border-radius: 15px;
        @media (max-width:992px){
            padding-bottom: 25px;
        }
        position: relative;
        &:before{
            content: '';
            width: 1px;
            height: 100%;
            display: block;
            position: absolute;
            background-color: var(--color-light-gray);
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            @media (max-width:767px){
                display: none;
            }
        }
        .col_content{
            padding-top: 25px;
            padding-left: 9px;
            .arrow{
                --size: 44px;
                display: block;
                width: var(--size);
                height: var(--size);
                border: 1px solid var(--color-light-gray);
                border-radius: 100%;
                position: relative;
                max-width: 65px;
                margin-bottom: 35px;
                i{
                    width: 20px;
                    height: 4px;
                    border-radius: 2px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: var(--color-blue);
                    &:before,&:after{
                        content: '';
                        width: 10px;
                        height: 4px;
                        border-radius: 2px;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 2px;
                        bottom: 0;
                        margin: auto;
                        background-color: var(--color-blue);
                        transform-origin: left center;
                        transform: rotateZ(45deg);
                    }
                    &:after{
                        transform: rotateZ(-45deg);
                    }
                }
            }
            .icon{
                max-width: 65px;
                max-height: 36px;
                margin-bottom: 35px;
            }
            h4{
                color: var(--color-gray);
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 12px;
                span{
                    font-weight: 400;
                    display: block;
                    opacity: .8;
                    font-size: 1.04rem;
                }
            }
            .date{
                display: flex;
                align-items: center;
                font-weight: 700;
                color: var(--color-gray);
                margin-bottom: 23px;
                i{
                    display: inline-block;
                    --size: 20px;
                    width: var(--size);
                    height: var(--size);
                    border-radius: 100%;
                    background-color: var(--color-gray);
                    position: relative;
                    margin-right: 10px;
                    &:before,&:after{
                        content: '';
                        width: 8px;
                        height: 2px;
                        background-color: var(--color-white);
                        position: absolute;
                        top: calc(50% - 1px);
                        left: calc(50% - 1px);
                        transform-origin: left center;
                        transform: rotateZ(-90deg);
                    }
                    &:after{
                        transform: rotateZ(45deg);
                        width: 6px;
                    }
                }   
            }
            p{
                color: var(--color-gray);
                font-size: 1rem;
                line-height: 1.5;
            }
        }
        .col_calendar{
            padding-top: 32px;
            padding-left: 9px;
            h6{
                font-size: 1.25rem;
                color: var(--color-gray);
                margin-bottom: 36px;
            }
            .month{
                display: flex;
                align-items: center;
                color: var(--color-gray);
                margin-bottom: 15px;
                span{
                    margin-right: auto;
                }
                .arrow{
                    --color : var(--color-gray);
                    display: inline-block;
                    width: 20px;
                    height: 15px;
                    margin-right: 25px;
                    position: relative;
                    &:hover{
                        --color:var(--color-blue);
                    }
                    &:before,&:after{
                        content: '';
                        width: 8px;
                        height: 2px;
                        background-color: var(--color);
                        transform-origin: left center;
                        transform: rotateZ(45deg);
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &:after{
                        transform: rotateZ(-45deg);
                    }
                    &.next{
                        transform: rotateZ(180deg);
                    }
                }
            }
            table{
                width: 100%;
                th{
                    font-size: 0.75rem;
                    font-weight: 400;
                    color:var(--color-gray);
                    text-transform: uppercase;
                    padding: 18px 0;
                    text-align: center;
                }
                td{
                    color:var(--color-gray);
                    padding: 17px 0;
                    text-align: center;
                    border-radius: 100%;
                    &[active]{
                        color:var(--color-blue);
                        font-weight: 700;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            display: block;
                            --size:40px;
                            width: var(--size);
                            height: var(--size);
                            border-radius: 100%;
                            max-width: 40px;
                            background-color: var(--color-blue);
                            opacity: .1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            @media (max-width:450px) {
                                --size:30px;
                            }
                        }
                    }
                }
            }
            .select{
                color:var(--color-gray);
                padding-left: 33px;
                position: relative;
                select{
                    border: 0;
                    font-size: 0.76rem;
                    color:var(--color-gray);
                    background: transparent;

                }
                &:before{
                    content: '';
                    border:5px solid transparent;
                    border-top-color:var(--color-gray);
                    position: absolute;
                    top: 6px;
                    right: 4px;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                }
            }
        }
    }
}