@import "accounting_services";


.head{
    min-height: 64px;
    .content{
        padding-left: 0;
    }
}
.banner{
    min-height: 610px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(../img/h5.jpg);
    background-size: cover;
    background-position: center;
    @media (max-width:991px) {
        min-height: 0;        
    }
    h1{
        color: var(--color-white);
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width:767px){
            font-size: 1.8rem;
        }
    }
    p{
        color: var(--color-white);
        font-size: 1.1rem;
        margin-bottom: 25px;

    }
    .lSSlideOuter{
        .lSPager.lSpg{
            padding-top: 15px;
            li{
                --color: var(--color-white);
                a{
                    --size : 15px;
                    width: var(--size);
                    height: var(--size);
                    background-color: var(--color);
                }
                &:hover,&.active{
                    --color: var(--color-orange);
                }
            }
        }
    }
}
.assesment{
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: var(--color-dark-blue);
    @media (max-width:991px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .container{
        @media (min-width:1200px){
            max-width: 1110px;
        }
    }
    h2{
        color: var(--color-white);
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 43px;
    }
    h5{
        color: var(--color-white);
        font-size: 1.8rem;
        margin-bottom: 65px;
        @media (max-width:991px){
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
    }
    .btn{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1rem;
    }
}
.BI{
    padding-top: 65px;
    padding-bottom: 33px;
    .container{
        @media (min-width:1200px){
            max-width: 1040px;
        }
    }
    h2{
        text-align: center;
        font-size: 2.7rem;
        margin-bottom: 34px;
    }
    
    .card_bi{
        border-radius: 10px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 130px;
        margin-bottom: 50px;

        background-color: var(--color-white);
        box-shadow: 4px 5px 20px hsla(0, 0%, 0%, 0.35);
        @media (max-width:991px){
            padding: 15px;
            margin-bottom: 25px;   
        }
        &:before{
            content: '';
            display: block;
            --size:85px;
            width: var(--size);
            height: var(--size);
            background-color: var(--color-orange);
            border-radius: 100%;
            margin: auto;
        }
        h6{
            text-align: center;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 140px;
            padding: 5px 0;
            margin-bottom: 40px;
            position: relative;
            color: var(--color-black);
            line-height: 1.4;
            &:before{
                content: '';
                display: block;
                width: 270px;
                max-width: 100%;
                height: 1px;
                background-color: var(--color-dark-blue);
                bottom: -18px;
                left: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
        p{
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.25;
            text-align: justify;
            position: relative;
            color: var(--color-gray);
            @media (max-width:991px){
                text-align: center;
            }
            &:before{
                content: '';
                display: block;
                width: 270px;
                max-width: 100%;
                height: 1px;
                background-color: var(--color-dark-blue);
                bottom: -18px;
                left: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
    }
    .btn{
        text-transform: uppercase;
        font-size: 1.1rem;
        width: 290px;
        max-width: 100%;
    }
}
.business{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 60px;
    background-color: var(--color-dark-blue);
    h3{
        color: var(--color-white);
        font-size: 2.7rem;
        margin-bottom: 17px;
        @media (max-width:575px){
            font-size: 2rem;
        }
    }
    p{
        color: var(--color-white);
        margin-bottom: 43px;
    }
    .btn{
        text-transform: uppercase;
        width: 285px;
        max-width: 100%;
    }
}
.plans{
    background-color: var(--color-light-gray);
    padding-bottom: 30px;
    h1{
        @media (min-width:992px) {
            font-size: 3.2rem;
        }
    }
    .text{
        padding-bottom: 25px;
    }
    .card_account{
        h4{
            font-size: 3rem;
            margin-top: 31px;
        }
        hr{
            margin-bottom: 43px;
        }
        .budgeting{
            .btn{
                &:after{
                    display: none;
                }
            }
        }
    }
}
.process{
    padding-top: 55px;
    padding-bottom: 40px;
    text-align: center;
    background-color: var(--color-white);
    @media (max-width:991px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 3.6rem;
        font-weight: 600;
        margin-bottom: 0;
        @media (max-width:575px){
            font-size: 2.8rem;
        }
    }
    img{
        display: block;
        margin: auto;
        margin-bottom: 26px;
        max-width: 100%;
    }
    .btn{
        text-transform: uppercase;
        width: 420px;
        max-width: 100%;
    }
}